.bg-color{
    background: #FFFBF0;
}


.penguine{
    color: #FABE4C;
    
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
.winter{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.customize-btn{
    height: 50px;
    width: 150px;
    border-radius: 12px;
    border: 0;
    color: white;
    background: #A4BC46;

}