.bg-color{
    background: #FFFBF0;
}


.penguine{
    color: #FABE4C;
    
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
.winter{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.customize-btn{
    height: 50px;
    width: 150px;
    border-radius: 12px;
    border: 0;
    color: white;
    background: #A4BC46;

}

.jacket{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;

}

.card{
    height:550px;
    width: 370px;
    background: white;
    border-radius: 15px;
}

.bg-card{
    background: #F1F1F1;
    width: 334px;
    height: 327px;
    border-radius: 15px;
    
    
}